.navbar {
	height: 70px;
	width: 100%;
	background: rgb(105, 145, 206);
	flex-direction: row;
}

.navbar-nav, .agreement {
	margin-top: .75%;
	list-style: none;
	margin-left: 70%;
	float: right;
}

ul, li {
	letter-spacing: 0.03em;
	padding: 0 13px 0 0;
	text-align: left;
	list-style: none;
	list-style-type: none;
	flex-direction: row;
}

.btn-dark {
	background-color: rgba(255, 255, 255,0);
	color: rgba(255, 255, 255, .75);
	font-size: 45px;
	float: left;
	letter-spacing: 1px;
}

#properties {
	float: right;
}

body {
	background: rgba(108, 146, 208,0.5);
	/*  // background: url('https://1.bp.blogspot.com/-MFNLZUWv2x4/Ti_d_ISxXXI/AAAAAAAAALM/TY4hUqsBqCs/s400/the-big-home.jpg'); */
}

.logo {
	margin-top: -15px;
	height: 100px;
	width: auto;
	image-rendering: pixelated;
}

.agreement-buttons .btn-primary {
	color: rgba(255, 255, 255, .75);
	font-size: 13px;
	float: left;
	letter-spacing: 1px;
	margin-left: 25px;
}